@import '../app/app';

$border-props: 3px solid $primary

.cart
    border-collapse: collapse
    border-left: $border-props
    border-right: $border-props
    border-bottom: $border-props
    font-family: "Lucida Grande", sans-serif
    caption 
        background: $dark-primary
        border-top-left-radius: 10px
        border-top-right-radius: 10px
        padding: 10px
        box-shadow: 0 2px  4px 0 rgba(0,0,0,.3)
        color: white
        font-family: $fira-font
        font-weight: 500
        font-style: normal
        font-size: 26px
        text-align: start
        margin: 0
	
    td, th 
        padding: 10px
        font-family: $noto-font
	
    th 
        text-align: left
        font-size: 18px
	
    tr:nth-child(2n) 
        background: $light-primary


.cart__btn
    cursor: pointer

.cart__btn + .cart__btn
    margin: 0 .4em

.cart-btns-wrap
    max-width: 30px

.inc-item-btn
    color: green
    &:active
        transform: scale(1.1)
.dec-item-btn
    color: orange
    &:active
        transform: scale(1.1)
.del-item-btn
    color: crimson
    &:active
        transform: scale(1.1)

.cart-empty
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin: 0
    height: 300px
    border: 3px solid $primary
    border-top: none
    border-bottom-left-radius: 15px
    border-bottom-right-radius: 15px
    &-icon
        color: $divider-color
        font-size: 8em
        opacity: .3
    &-text
        color: $secondary-text
        font-family: $noto-font
        font-size: 2em


		
	
