// ===VARS===
// fonts
$lora-font: 'Lora', serif
$noto-font: 'Noto Sans', sans-serif
$fira-font: 'Fira Sans', sans-serif
// /fonts

// colors
$dark-primary: #00796B
$light-primary: #B2DFDB
$primary: #009688
$text-icons-color: #FFFFFF
$accent-color: #F79361
$primary-text: #212121
$secondary-text: #757575
$divider-color: #BDBDBD
// /colors

// ===/VARS===

.app
  font-family: $fira-font
  color: $primary-text
