@import '../app/app'
    
.header
    background-color: $dark-primary
    padding: 1em
    &__content
        display: flex
        justify-content: flex-start
    &__logo
        font-family: $noto-font
        font-size: 30px
        font-weight: 600
        color: $text-icons-color
    
