@import '../app/app';

.navbar
    color: $text-icons-color
    flex: 1
    background-color: $primary
    border-radius: .4em
    padding: 1.5em
    box-shadow: 0 2px  4px 0 rgba(0,0,0,.3)
    &__price-input
        color: $secondary-text
        border-radius: .1em
        padding: .3em .5em
        border: none
        max-width: 55px
        margin-left: 0.4em
    &__price-input-group
        display: inline-flex
        juatify-content: center
        flex-direction: column
        align-items: flex-start
        // max-width: 322px
    &__price-input-wrap
        margin-left: 0.5em
    &__price-btn
        font-weight: 500
        position: relative
        cursor: pointer
    &__price-items
        box-shadow: 0 0 10px 0 rgba(76,70,84,1)
        border-radius: .5em
        padding: 0
        list-style-type: none
        border-bottom: none
        color: $primary-text
        background-color: $text-icons-color
        position: absolute
        margin-top: 2em

.popup-arrow
    transition: .3s
    margin-left: .1em


            
    

            

