@import '../app/app';

.navbar__price-item
    cursor: pointer
    padding: .6em .8em
    border-bottom: 1px solid $accent-color
    &:hover
        background-color: $primary

.price-item-active
    background-color: $primary
